body, html{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightMode {
    background-image: url("../images/tamagotchi-background.png");
    background-repeat: no-repeat;
    background-size:cover;
}

.darkMode {
    background-image: url("../images/tg-backgorund-night.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.bunny {
    width: 100px;
    height: 120px;   
    animation-duration: 5s;
    animation-name: slidein;
    /* position: absolute; */
}


@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}


