body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightMode {
    background-image: url("../images/tamagotchi-background.png");
    background-repeat: no-repeat;
    background-size:cover;
}

.darkMode {
    background-image: url("../images/tg-backgorund-night.png");
    background-repeat: no-repeat;
    background-size:cover;
}
img {
    width: 100px;
    height: auto;   
}



